@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --Background-color: #ffcdd2;
    --Second-color: #ee534f;
}

/* Base style */

* {
    font-family: 'Inter', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
}

*::selection{
    background: var(--Second-color);
    color: var(--Background-color);
}

body {
    font-family: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--Background-color);
}

/* Header */

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
}

header h1 {
    color: #303030;
    font-size: 1.5rem;
}

/* typed.js */

header #element {
    padding: .5em;
    color: #fff;
    background: var(--Second-color);
    border-radius: 5px;
}

header .typed-cursor {
    display: none;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
}

main .generate-btn {
    padding: .8rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    background-color: var(--Second-color);
    box-shadow: 4px 4px #fd7d96;
    text-decoration: none;
    cursor: pointer;
}

.quote-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    gap: 1rem;
    margin-top: 5em;
    padding: 2rem;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #ee534f;
    transition: 1s ease-in-out;
}

.quote-text {
    font-size: 1.2rem;
    color: #fff;
}

.quote-author {
    font-size: 1rem;
    font-style: italic;
    color: #fff;
}

@media (max-width: 600px) {

    .quote-card {
        width: 350px;
    }
    
}