@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --Background-color: #ffcdd2;
    --Second-color: #ee534f;
}

/* Base style */

* {
    font-family: 'Inter', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
}

*::selection{
    background: var(--Second-color);
    color: var(--Background-color);
}

body {
    font-family: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--Background-color);
}

/* Header */

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}

header h1 {
    color: #303030;
    font-size: 1.5rem;
}

/* typed.js */

header .typedBox {
    width: 100%;
    padding: .5em;
    color: #fff;
    background: var(--Second-color);
}

header .typed-cursor {
    display: none;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
}

main .generate-btn {
    padding: 1em 2em;
    font-size: 1rem;
    font-weight: 600;
    color: var(--Second-color);
    background-color: #fff;
}

